body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	width: 100vw;
}

* {
	box-sizing: border-box;
}
button {
	cursor: pointer;
}

@media screen and (max-width: 700px) {
	/* Rédigez vos propriétés CSS ici */
}
